/* ---- header ---- */
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');

.inlineB{
  display: inline-block;
}

header{
  position: relative;
  background-image: url(../img/plank.jpg);
}

nav{
  position  :absolute;
  right: 25px;
  font-weight: bold;
  font-family: monospace;
  margin-top: 15px
}

#logo{
  width: 200px;
  margin:auto;
  position: relative;
  margin-top: 250px;
  padding-bottom: 250px;
}
#logo div {
  width: 0;
	height: 0;
  border-top: 150px solid #d317f3;
	border-left: 150px solid transparent;
}
#logo img {
  top: -27px;
  position: absolute;
  width: 100%;
}

h1{
  font-family: 'Caveat Brush', cursive;
  text-transform: uppercase;
  font-size: 50px;
}
h1 span{
  font-size: 40px;
  display: inline;
  vertical-align: top;
  position: relative;
}
h1 span:after{
  top: 15px;
  content: "-";
  position: absolute;
  left: 0;
}
#logoResto{
  position: relative;
  display: inline-block;
  margin-left: 80px;
}
.rectangle{
  bottom: 12px;
  position: absolute;
  margin: 0;
  display: block;
  border: 7px solid #E53F6F;
  padding: 0 17px;
  width: 0px;
  left: 26%;
}
/* ---------- */

section{
  background-color: white;
  color: black;
}
section img{
  width: 100%;
}
section > section{
  overflow: hidden;
  height: 430px;
  text-align: center;
}
section p, section h2{
  padding: 0 15%;
}

.pBloque-left, .pBloque-right{
  display: inline-block;
  vertical-align:middle;
  overflow: hidden;
}
.pBloque-left{
  width: 40%;
}
.pBloque-right{
  width:60%
}

#story{
  margin:auto;
  position: relative;
  vertical-align:middle;
  text-align: center;
}

#story img{
  width: 125%
  transform: scaleX(-1);
}

#fare .pBloque-left {
  width:30%;
}
#fare .pBloque-right{
  width:70%;
}

#local{
  top: 150px;
  margin:auto;
  position: relative;
  vertical-align:middle;
  text-align: center;
}
#local img{
  top:100px;
}

#oeuf img{
  width: 100%;
  height: auto;
}
